@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button {
    border: none;
    background: none;
}