@import "../scss/global.scss";
@import "../scss/variables.scss";
@import "../scss/mixin/generic.scss";
// header menu
.navbar-brand {
    font-weight: bold;
    color: $dark_color;
    span {
        color: $progress_bar;
    }
}

// main section
.main-section {
    height: 82vh;
    display: flex;
    align-items: center;
    .start {
        @include generic_button($bg: #FA5D03)
    }
    .inner-container {
        padding: 50px;
        background: $progress_bar;
        border-radius: 10px;
        h2 {
            color: $dark_color;
            margin-bottom: 54px;
            color: #fff;
            font-weight: bold;
        }
        .preview {
            min-height: 222px;
            max-height: 222px;
            overflow: auto;
            background: #fff;
            border-radius: 6px;
            padding: 8px;
        }
    }
    // about page
    .text-container {
        h2 {
            @include about_info($font-weight: bold, $display: block, $margin-bottom: 10px, $font-size: 40px, $color: $dark_color);
        }
        span {
            @include about_info($font-weight: bold, $display: block, $margin-bottom: 20px, $font-size: 16px, $color: $dark_color);
        }
        .start {
            @include generic_button($bg: $progress_bar)
        }
    }
    .about-img {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 990px) {
    .preview-container {
        margin-top: 20px;
    }
}

footer {
    background-color: $dark-color;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    .navbar-brand {
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        color: $background-color
    }
}

.text-right {
    text-align: right;
}

.dark-mode {
    background-color: $dark_color;
    color: white;
}